@model IEnumerable<E_LearningApplication_Final.Test>
@{
    ViewBag.Title = "TestsResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Test Results</h2>

<table id="courses" class="table table-bordered table-hover">
    <thead>
        <tr>


            <th>Course Name</th>
            <th>Total Points</th>
            <th>Date</th>


        </tr>
    </thead>
    <tbody>

        @{
            foreach (var student in Model)
            {
                <tr>
                    <td>@student.Cours.Name</td>
                    <td>@student.Result</td>
                    <td>@student.TestDate</td>


                </tr>
            }
        }


    </tbody>
</table>
