@using E_LearningApplication_Final.Util
@model E_LearningApplication_Final.ViewModels.TestViewModel

@Styles.Render("~/Content/Test.css")
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row center-block">
    <br><br>
    <div class="center-block">
        <div class="loader">


            <div id="quiz">

                <div class="question">
                    <h3>
                        <span class="label label-warning" id="qid"></span>
                        <span id="question"> </span>
                    </h3>
                </div>
               
    
               
             <ul id="test">
            <li id="l1">
                <input type="radio" id="a-option" name="selector" value="1">
                <label for="f-option" class="element-animation"></label>
                <div class="check"><div class="inside"></div></div>
            </li>

            <li id="l1">
                <input type="radio" id="b-option" name="selector" value="2">
                <label for="s-option" class="element-animation"></label>
                <div class="check"><div class="inside"></div></div>
            </li>

            <li id="l1">
                <input type="radio" id="c-option" name="selector" value="3">
                <label for="t-option" class="element-animation"></label>
                <div class="check"><div class="inside"></div></div>
            </li>

            <li id="l1">
                <input type="radio" id="d-option" name="selector" value="4">
                <label for="t-option" class="element-animation"></label>
                <div class="check"><div class="inside"></div></div>
            </li>
        </ul>
            </div>
        </div>
        <div class="text-muted">
            <span id="answer"></span>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-md-0 mb-sm-4">
        <div id="result-of-question" class="pulse animated" style="display: none;">
            <span id="totalCorrect" class="pull-right"></span>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Question No.</th>
                        <th>Our answer</th>
                        <th>Your answer</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody id="quizResult"></tbody>
            </table>

        </div>
    </div>
</div>

@section scripts
{
    <script>


        $(function () {
 
            var loading = $('#loadbar').hide();
            $(document)
            .ajaxStart(function () {
                loading.show();
            }).ajaxStop(function () {
                loading.hide();
            });

            var questionNo = 0;
         


            var correctCount = 0;
           
            var q=[];
            @foreach (var d in Model.QuestionList)
            {
                @:q.push( @JavaScriptConvert.SerializeObject(@d));
             
            }  
         
                $(document.body).on('click',"label.element-animation", function (e) {
                //ripple start
                var parent, ink, d, x, y;
                parent = $(this);
                if (parent.find(".ink").length == 0)
                    parent.prepend("<span class='ink'></span>");

                ink = parent.find(".ink");
                ink.removeClass("animate");

                if (!ink.height() && !ink.width()) {
                    d = Math.max(parent.outerWidth(), parent.outerHeight());
                    ink.css({ height: "100px", width: "100px" });
                }

                x = e.pageX - parent.offset().left - ink.width() / 2;
                y = e.pageY - parent.offset().top - ink.height() / 2;

                ink.css({ top: y + 'px', left: x + 'px' }).addClass("animate");
                //ripple end

                var choice = $(this).parent().find('input:radio').val();
                console.log(choice);
                var anscheck = $(this).checking(questionNo, choice);//$( "#answer" ).html(  );
                q[questionNo].UC = choice;
                if (anscheck) {
                    correctCount++;
                    q[questionNo].result = "Correct";
                } else {
                    q[questionNo].result = "Incorrect";
                }
                console.log("CorrectCount:" + correctCount);
                setTimeout(function () {
                    $('#loadbar').show();
                    $('#quiz').fadeOut();
                    questionNo++;
                    if ((questionNo + 1) > q.length) {
                        bootbox.alert("Quiz completed, Now click ok to get your answer");
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SubmitTestResult", "Course")',
                            data: { courseId: @Model.CourseId, result: correctCount },
                            error: function () { alert('A error'); }
                        });
                        $('label.element-animation').unbind('click');
                        setTimeout(function () {
                            var toAppend = '';
                            $.each(q, function (i, a) {
                                toAppend += '<tr>'
                                toAppend += '<td>' + (i + 1) + '</td>';
                                toAppend += '<td>' + a.a + '</td>';
                                toAppend += '<td>' + a.UC + '</td>';
                                toAppend += '<td>' + a.result + '</td>';
                                toAppend += '</tr>'
                            });
                            $('#quizResult').html(toAppend);
                            $('#totalCorrect').html("Total correct: " + correctCount);
                            $('#quizResult').show();
                            $('#loadbar').fadeOut();
                            $('#result-of-question').show();
                            $('#graph-result').show();
                            chartMake();
                        }, 1000);
                    } else {
                        $('#qid').html(questionNo + 1);
                        $('input:radio').prop('checked', false);
                        setTimeout(function () {
                            $('#quiz').show();
                            $('#loadbar').fadeOut();
                        }, 1500);
                        $('#question').html(q[questionNo].q);
                        $($('#a-option').parent().find('label')).html(q[questionNo].c[0]);
                        $($('#b-option').parent().find('label')).html(q[questionNo].c[1]);
                        $($('#c-option').parent().find('label')).html(q[questionNo].c[2]);
                        $($('#d-option').parent().find('label')).html(q[questionNo].c[3]);
                    }
                }, 1000);
            });


            $.fn.checking = function (qstn, ck) {
                var ans = q[questionNo].a;
                if (ck != ans)
                    return false;
                else
                    return true;
            };

         
            function chartMake() {

                var chart = AmCharts.makeChart("chartdiv",
                       {
                           "type": "serial",
                           "theme": "dark",
                           "dataProvider": [{
                               "name": "Correct",
                               "points": correctCount,
                               "color": "#00FF00",
                               "bullet": "http://i2.wp.com/img2.wikia.nocookie.net/__cb20131006005440/strategy-empires/images/8/8e/Check_mark_green.png?w=250"
                           }, {
                               "name": "Incorrect",
                               "points": q.length - correctCount,
                               "color": "red",
                               "bullet": "http://4vector.com/i/free-vector-x-wrong-cross-no-clip-art_103115_X_Wrong_Cross_No_clip_art_medium.png"
                           }],
                           "valueAxes": [{
                               "maximum": q.length,
                               "minimum": 0,
                               "axisAlpha": 0,
                               "dashLength": 4,
                               "position": "left"
                           }],
                           "startDuration": 1,
                           "graphs": [{
                               "balloonText": "<span style='font-size:13px;'>[[category]]: <b>[[value]]</b></span>",
                               "bulletOffset": 10,
                               "bulletSize": 52,
                               "colorField": "color",
                               "cornerRadiusTop": 8,
                               "customBulletField": "bullet",
                               "fillAlphas": 0.8,
                               "lineAlpha": 0,
                               "type": "column",
                               "valueField": "points"
                           }],
                           "marginTop": 0,
                           "marginRight": 0,
                           "marginLeft": 0,
                           "marginBottom": 0,
                           "autoMargins": false,
                           "categoryField": "name",
                           "categoryAxis": {
                               "axisAlpha": 0,
                               "gridAlpha": 0,
                               "inside": true,
                               "tickLength": 0
                           }
                       });
            }
        });

    </script>

}